<div class="bg-success text-white">

    <div class="px-5 text-center pt-5 text-white">
        <h1>ABOUT COMPONENT</h1>
    </div>

    <div class="row text-center ">
  
        <div class="text-center text-xl fa fa-2x  text-white">---- <i class="fa fa-star text-white "> ----</i></div>   
              
    </div>
    <div class="container">
          <div class="row">
            <div class="col-md-6 text-center">
                <div class="p-3">
                    
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                   
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="p-3">
                   
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>

          </div>

    </div>
    

</div>
