

<div class="container">

    <div class="row g-4">
        
  @for(x of productlist ;track $index){
    <div class="col-md-4 rounded-2">
        <div class="p-2 bg-primary rounded-2 w-100">
            <img src={{x.pimage}} class="w-100 rounded-2 port" alt="House" />
            <div>
               <h6> ProdName: {{x.pname}}</h6>
               <p>Prod category: {{x.pcat}} </p>
               <p>Prod Price: {{x.pprice}} $ </p>
               
            </div>
        </div>
    </div>
  }




        </div>
    </div>
