<div class="bg-success">
 <div class="w-25 text-center m-auto py-5">

    <img src="assets/img/avataaars.svg" alt="personnel pic" class="container-fluid w-100 text-center m-auto" />
 </div>

 <div class="px-5 text-center  text-white">
    <h1>START FRAMEWORK</h1>
     

   
</div> 

<div class="row text-center ">
  
        <div class="text-center text-xl fa fa-2x  text-white">---- <i class="fa fa-star text-white "> ----</i></div>   
              
    </div>

    <div class="row text-center text-white">
  
        <p>Graphic Artist - Web Designer - Illustrator</p>
              
    </div>
</div>


