

<div class="bg-black bg-opacity-75 py-lg-5">
<div class="container">
<div class="row text-white">

    <div class="col-md-4 text-center">
        <div class="p-3">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div class="p-3"> 
            <h2>AROUND THE WEB</h2>
            <div class="mt-auto text-white d-flex  justify-content-evenly">
             <div class="p-1 border border-white fa-2x rounded-circle"><i class="fa fa-facebook text-white "></i></div>   
             <div class="p-1 border border-white fa-2x rounded-circle"><i class="fa fa-twitter text-white "></i></div>   
             <div class="p-1 border border-white fa-2x rounded-circle"><i class="fa fa-linkedin text-white "></i></div>   
             <div class="p-1 border border-white fa-2x rounded-circle"><i class="fa fa-globe text-white "></i></div>   
              
               
            </div>
        </div>
 

    </div>

    <div class="col-md-4 text-center">
        <div class="p-3">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme Created by route</p>
        
        </div>
 

    </div>


</div>


</div>

</div>
